openapi: 3.2.0
info:
  title: Hypixel Public Housing API
  x-logo:
    url: https://api.hypixel.net/assets/images/logo.png
    altText: Hypixel Logo
    href: '#'
  description: '# Introduction

    This is the official Hypixel API documentation.'
  version: v2
  termsOfService: https://hypixel.net/tos
  contact:
    name: Hypixel Support
    url: https://developer.hypixel.net
  x-jentic-source-url: https://api.hypixel.net/
  x-generated-from: jentic-public-apis
  x-last-validated: '2026-05-30'
servers:
- url: https://api.hypixel.net
security:
- ApiKey: []
tags:
- name: Housing
  description: Hypixel Housing — active public houses, per-player public houses, and per-house information.
paths:
  /v2/housing/active:
    get:
      summary: Hypixel The Currently Active Public Houses
      description: This data may be cached for a short period of time.
      tags:
      - Housing
      security:
      - ApiKey: []
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HousingHouse'
              examples:
                GetHousingActive200Example:
                  summary: Default getHousingActive 200 response
                  x-microcks-default: true
                  value:
                  - example
        '403':
          $ref: '#/components/responses/InvalidKey'
        '429':
          $ref: '#/components/responses/RateLimited'
      operationId: getHousingActive
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v2/housing/house:
    get:
      summary: Hypixel Information About a Specific House
      description: This data may be cached for a short period of time.
      tags:
      - Housing
      security:
      - ApiKey: []
      parameters:
      - in: query
        name: house
        schema:
          type: string
        required: true
        description: The UUID of the house to get information about.
        example: example
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HousingHouse'
              examples:
                GetHousingHouse200Example:
                  summary: Default getHousingHouse 200 response
                  x-microcks-default: true
                  value: example
        '403':
          $ref: '#/components/responses/InvalidKey'
        '404':
          $ref: '#/components/responses/NoResult'
        '429':
          $ref: '#/components/responses/RateLimited'
      operationId: getHousingHouse
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v2/housing/houses:
    get:
      summary: Hypixel The Public Houses for a Specific Player
      description: This data may be cached for a short period of time.
      tags:
      - Housing
      security:
      - ApiKey: []
      parameters:
      - in: query
        name: player
        schema:
          type: string
        description: The UUID of the player to get houses for.
        example: example
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HousingHouse'
              examples:
                GetHousingHouses200Example:
                  summary: Default getHousingHouses 200 response
                  x-microcks-default: true
                  value:
                  - example
        '403':
          $ref: '#/components/responses/InvalidKey'
        '429':
          $ref: '#/components/responses/RateLimited'
      operationId: getHousingHouses
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    HousingHouse:
      description: Information about a player's house.
      required:
      - uuid
      - owner
      - name
      - createdAt
      - players
      - cookies
      properties:
        uuid:
          type: string
          format: uuid
          description: The UUID of this house.
          example: ad8fefaa8351454bb739a4eaa872173f
        owner:
          type: string
          format: uuid
          description: The UUID of the owner of this house.
          example: ad8fefaa8351454bb739a4eaa872173f
        name:
          type:
          - string
          - 'null'
          description: The name of this house, may contain Minecraft color symbols.
          example: ExamplePlayer
        createdAt:
          type: number
          format: int64
          description: The time this house was created.
          example: 1.0
        players:
          type: number
          format: int32
          description: The number of players in this house.
          example: 1.0
        cookies:
          type: object
          properties:
            current:
              type: number
              format: int32
              description: The current amount of cookies that this house has for the current week.
              example: 1.0
  responses:
    NoResult:
      description: The request responded with no result.
      content:
        application/json:
          schema:
            type: object
            properties:
              success:
                type: boolean
                example: false
              cause:
                type: string
                example: No result was found
    InvalidKey:
      description: Access is forbidden, usually due to an invalid API key being used.
      content:
        application/json:
          schema:
            type: object
            properties:
              success:
                type: boolean
                example: false
              cause:
                type: string
                example: Invalid API key
    RateLimited:
      description: A request limit has been reached, usually this is due to the limit on the key being reached but can also be triggered by a global throttle.
      content:
        application/json:
          schema:
            type: object
            properties:
              success:
                type: boolean
                example: false
              cause:
                type: string
                example: Key throttle
              throttle:
                type: boolean
                example: true
              global:
                type: boolean
                description: When this boolean exists and is true, the throttle occurring is a global throttle applied to all users
                example: true
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: API-Key
      description: Obtained via the [Hypixel Developer Dashboard](https://developer.hypixel.net) when creating an application. You can also request higher limits for production applications in this dashboard.
